body{
    font-family: 'Merriweather', serif;
    background:black;
}

.container{
    max-width: 800px;
    margin:auto;
    border:5px solid cyan;
    background: white;
}

h1{
    text-align:center;
}

.row{
    width:500px;
    margin:auto;
    border:4px solid white;
    height:auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.box{
    width:150px;
    height:150px;
    border:5px solid cyan;
}